<footer class="footer">
  <div class="container">
    <a href="{{ site.baseurl }}/"><img class="footer-logo" src="{{ site.baseurl }}/assets/img/logo.png" alt="{{ site.title }}"></a>
    <div class="footer-copyright">
      <p>
        <span>Copyright © {{ site.time | date: '%Y' }} KopalniaKitu.pl</span>
        <span><a href="mailto:kontakt@kopalniakitu.pl">Kontakt</a>
      </p>
      <p>
        Twoje dane są przetwarzane przez Kopalnię Kitu.<br /> W przypadku pytań o szczegóły, <a href="mailto:kontakt@kopalniakitu.pl">skontaktuj się</a> z nami.
      </p>
    </div>
  </div>
</footer>
