.footer {
  margin-top: 120px;
  padding-bottom: 55px;
  text-align: center;

  &-logo {
    width: 120px;
  }

  &-copyright {
    margin-top: 40px;
    font-size: 14px;
    color: #646464;

    p:first-child {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      span + span {
        margin-left: 10px;
      }
    }

    p:nth-child(2) {
      opacity: 0.5;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $base-text-color;
      }
    }
  }

  @include media(">=tablet") {
    margin-top: 195px;

    &-logo {
      width: 155px;
    }
  }
}
