.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;

  &-logo {
    width: 120px;
  }

  @include media(">=tablet") {
    padding-top: 30px;

    &-logo {
      width: 200px;
    }
  }

  @include media(">=desktop") {
    padding-top: 40px;

    &-logo {
      width: 228px;
    }
  }
}
