.container {
  width: 100%;
  max-width: calc(#{$container-width} + #{$side-padding-phone} * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: $side-padding-phone;
  padding-right: $side-padding-phone;

  @include media(">=tablet") {
    max-width: calc(#{$container-width} + #{$side-padding-tablet} * 2);
    padding-left: $side-padding-tablet;
    padding-right: $side-padding-tablet;
  }

  @include media(">=desktop") {
    max-width: calc(#{$container-width} + #{$side-padding-desktop} * 2);
    padding-left: $side-padding-desktop;
    padding-right: $side-padding-desktop;
  }
}
